/* Application Styles */
body {
  background-color: yellow;
}
.App {
  display: grid;
  grid-template-columns: 1fr 35vw;
  grid-template-rows: auto;
}
.About {
  grid-column: 2;
  grid-row: 3;
  height: 25vh;
}
.Blog {
  grid-column: 1 / 2;
  grid-row: 3;
  height: 100vh;
}
.Header {
  grid-column: 1 / 6;
}
.Hero {
  grid-column: 1 / 6;
  height: 50vh;
}

.background-image {
  background-image: url("../src/assets/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding: 1em;
  font-family: "Open Sans", sans-serif;
  color: #193549;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  position: relative;
}
.logo:after {
  content: "Full Stack Developer";
  font-size: 15vw;
}
.logo:after {
  background-image: -webkit-linear-gradient(
    left top,
    transparent 0%,
    transparent 25%,
    #555 25%,
    #555 50%,
    transparent 50%,
    transparent 75%,
    #555 75%
  );
  background-size: 0.5vw 0.5vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}
